.footer {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  bottom: 0;
  padding: 20px; }

* {
  padding: 0;
  margin: 0; }

.body {
  position: relative;
  width: 100vw; }

.img__responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.bgimagen {
  background-image: url("../imagenes/Seg1 fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh; }

.header {
  background-image: url("../imagenes/Seg1 header.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  opacity: 90%;
  width: 100vw; }

.navbar-nav.navbar-center {
  position: relative;
  left: 50%;
  transform: translatex(-50%); }

.navbar-brand {
  font-size: 25px; }

.nav-link {
  font-size: 25px;
  margin-left: 70px; }

.logo__footer {
  position: relative;
  width: 60px;
  height: 60px; }

.res__home {
  text-align: center;
  color: whitesmoke;
  font-size: 24px; }

h1 {
  color: whitesmoke;
  text-align: center; }

h2 {
  color: whitesmoke;
  text-align: center; }

h4 {
  color: whitesmoke; }

.galery__img img {
  height: 550px;
  width: 550px;
  padding: 0 5px; }

p {
  color: whitesmoke; }

.container {
  height: 60vh;
  width: 60vw; }

.carousel-item {
  height: 600px; }

.carousel-item img {
  height: 60vh; }

@media only screen and (max-width: 768px) {
  .bgimagen {
    height: 100vh;
    width: 100%; } }

.bienvenido__class {
  text-align: center;
  font-size: 32px;
  color: red;
  font-weight: bold; }

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: fit-content;
  border: 0;
  font-weight: bold;
  color: whitesmoke;
  font-size: 18px;
  border: 3px solid whitesmoke;
  margin: 0 auto 15px auto; }

.res__home {
  text-align: center;
  color: whitesmoke;
  font-size: 24px; }

@media only screen and (max-width: 1024px) {
  .container {
    width: 100vw; } }

.pics-catalogos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }
  @media only screen and (max-width: 768px) {
    .pics-catalogos {
      grid-template-columns: repeat(2, 1fr); } }

.pics-catalogos img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px; }

.cards-catalogo {
  margin: 0 10px; }

.pics-catalogos h4 {
  text-align: center;
  margin-top: 10px; }

.pics-catalogos h4:hover {
  text-decoration: underline; }

.h1Catalogo {
  width: 100px;
  margin: auto;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px; }

@media only screen and (max-width: 1024px) {
  .pics-catalogos img {
    height: 220px;
    width: 100%;
    object-fit: contain; } }

@media only screen and (max-width: 768px) {
  .pics-catalogos img {
    height: 140px;
    width: 100%;
    object-fit: contain; } }

@media only screen and (max-width: 425px) {
  .pics-catalogos img {
    height: 115px;
    width: 100%;
    object-fit: contain; } }

.formulario {
  color: whitesmoke;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 25px;
  font-size: 18px; }

.textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 8px 0;
  opacity: 50%; }

.textarea2 {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  opacity: 50%; }

.redeslist {
  position: relative;
  display: inline-block;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 20%;
  margin: auto;
  transition: all 1s; }

.fb {
  color: blue; }

.fb:hover {
  color: lightseagreen;
  transition: 2s; }

.ws {
  color: green; }

.ws:hover {
  color: lightgreen;
  transition: 2s; }

.map {
  color: royalblue; }

.map:hover {
  color: aqua;
  transition: 2s; }

.footer {
  position: absolute; }

.quienes-somos {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 425px) {
    .quienes-somos {
      flex-direction: column; } }
  .quienes-somos-box {
    border-radius: 20px;
    width: 600px;
    height: 400px;
    margin-left: 20px; }
    @media only screen and (max-width: 1440px) {
      .quienes-somos-box {
        width: 500px;
        height: 400px; } }
    @media only screen and (max-width: 768px) {
      .quienes-somos-box {
        width: 400px;
        height: 300px; } }
    @media only screen and (max-width: 425px) {
      .quienes-somos-box {
        width: 380px;
        height: 200px;
        margin-top: 10px; } }
    @media only screen and (max-width: 375px) {
      .quienes-somos-box {
        width: 340px;
        height: 200px;
        margin-top: 10px; } }
    @media only screen and (max-width: 320px) {
      .quienes-somos-box {
        width: 280px;
        height: 250px; } }
  .quienes-somos-img {
    display: flex;
    justify-content: center; }
  .quienes-somos-img img {
    margin-left: 20px;
    border-radius: 500px;
    height: 550px;
    width: 550px; }
    @media only screen and (max-width: 1440px) {
      .quienes-somos-img img {
        height: 400px;
        width: 400px; } }
    @media only screen and (max-width: 1024px) {
      .quienes-somos-img img {
        width: 300px;
        height: 300px; } }
    @media only screen and (max-width: 768px) {
      .quienes-somos-img img {
        width: 250px;
        height: 250px; } }
    @media only screen and (max-width: 425px) {
      .quienes-somos-img img {
        width: 200px;
        height: 200px; } }
    @media only screen and (max-width: 375px) {
      .quienes-somos-img img {
        width: 200px;
        height: 200px; } }
    @media only screen and (max-width: 320px) {
      .quienes-somos-img img {
        width: 150px;
        height: 150px; } }
  .quienes-somos-box h2 {
    text-align: center;
    padding-top: 20px; }
    @media only screen and (max-width: 425px) {
      .quienes-somos-box h2 {
        font-size: 16px; } }
    @media only screen and (max-width: 375px) {
      .quienes-somos-box h2 {
        font-size: 14px; } }
  .quienes-somos-box p {
    font-size: 20px;
    text-align: center;
    padding: 20px; }
    @media only screen and (max-width: 1440px) {
      .quienes-somos-box p {
        font-size: 18px; } }
    @media only screen and (max-width: 768px) {
      .quienes-somos-box p {
        font-size: 13px; } }
    @media only screen and (max-width: 425px) {
      .quienes-somos-box p {
        font-size: 10px;
        padding-top: 10px; } }
    @media only screen and (max-width: 375px) {
      .quienes-somos-box p {
        font-size: 10px;
        padding-top: 10px; } }
