*{
    padding: 0;
    margin: 0;
}



.body{
    position: relative;
    width: 100vw;
}

.img__responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.bgimagen{
  background-image: url("../imagenes/Seg1\ fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  
}

.header{
    
    background-image: url("../imagenes/Seg1\ header.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    opacity: 90%;
    width: 100vw;
    
}

.navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    
}

  .navbar-brand{
    font-size: 25px;
  } 

  .nav-link{
    font-size: 25px;
    margin-left: 70px;
    
  }





  .footer{
    @extend %footer; 
  }

  .logo__footer{
    position: relative;
    width: 60px;
    height: 60px;
    
  }

  .res__home{
    text-align: center;
    color: map-get($color , color-principal );
    font-size: 24px;
    
    
}

h1{
 color: map-get($color, color-principal );
 text-align: center;
}

h2{
  color: map-get($color, color-principal );
  text-align: center;
}

h4{
  color: map-get($color, color-principal );
}
.galery__img img{
  height: 550px;
  width: 550px;
  padding: 0 5px;

}

p{
  color: map-get($color, color-principal );
}

.container{
  height: 60vh;
  width: 60vw;
}

.carousel-item{
  height: 600px;
}
.carousel-item img{
  height: 60vh;
}

@media only screen and (max-width:768px){
  .bgimagen{
    height: 100vh;
    width: 100%;
  }
}
  