.bienvenido__class{
    text-align: center;
    font-size: 32px;
    color: red;
    font-weight: bold;
}

.btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 0;
    font-weight: bold;
    color: $color-texto;
    font-size: 18px;
    border: 3px solid $color-texto;
    margin: 0 auto 15px auto;
    width: fit-content;
  }  

  .res__home{
      text-align: center;
      color: $color-texto;
      font-size: 24px;
      
  }

  @media only screen and (max-width:425px){
    
      .container{
          width: 100%;
      }

      
      
      
      
  }