.bienvenido__class{
    text-align: center;
    font-size: 32px;
    color: map-get($color , color-secundario );
    font-weight: bold;
}

.btn{
    cursor: pointer;
    display: flex;
    @include flexbox (center, fit-content);
    border: 0;
    font-weight: bold;
    color: map-get($color , color-principal );
    font-size: 18px;
    border: 3px solid map-get($color , color-principal );
    margin: 0 auto 15px auto;
  }  

  .res__home{
      text-align: center;
      color: map-get($color , color-principal );
      font-size: 24px;
      
  }

  @media only screen and (max-width:425px){
    
      .container{
          width: 100%;
      }
      


      
      
      
      
  }