$color:(
    color-principal: whitesmoke,
    color-secundario: red,
    );

%footer{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: .5em 0;
    }

@mixin flexbox ($justify, $width){
    justify-content: $justify;
    width: $width;
}


